
:root {
--basic-red: #ee3643;
--basic-green: #63a63e;
--basic-grey: #3d546f;
--basic-greylight: #c5c5c5;
--basic-background: #f1f5f7;
--white: #ffffff;
--special-yellow: #ffbf47;
--special-blue: #3bbce3;
--special-lilac: #dc91d8;
--special-greenlight: #8ed78f;
--special-yellowlight: #ffd180;
--basic-greenlighter: #5fbb2d;
--basic-error: #ba2732;
--light-grey: #EAEAEA;
--basic-black: #000000;
--basic-darkblue: #32425c;
--basic-lightgrey: #f3f7f9;
--special-darkblue: #293449;
--special-grey: #a9a9a9;
--special-greylighter: #f9f5f0;
--special-greyblue: #405069;
--special-whitegrey: #f3f7ec;
--basic-whitegrey: #e5e5e5;
--basic-darkgreen: #518534;
--basic-opacitywhite: rgba(255, 255, 255, 0.3);
--basic-blackblue: #2123a3;
--basic-darkgradient: linear-gradient(0deg, var(--basic-blackblue), var(--basic-blackblue));
--white-halfopacity: rgba(255, 255, 255, 0.5);
--special-blackblue: #161d29;
--basic-pinkwhite: #f2f6f8;
--basic-beige: #f7f3ec;
--special-darkwhite: #b5b5b5;
--basic-opacityblack: rgba(0, 0, 0, 0.3);
--dark-blue: #1d2739;
--black-opacitymin: rgba(0, 0, 0, 0.0001);
--grey-opacity: rgba(197, 197, 197, 0.3);
--basic-delivery: #ffc047;
}

body {
min-width: 1200px;
margin: 0;
padding: 0;
font-family: "PT Sans", Arial, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: normal;
font-style: normal;
}

.visually-hidden {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}

a {
text-decoration: none; 
}

img {
max-width: 100%;
height: auto;
}

.page {
height: 100%;
}

.page-body {
height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
}

.header {
background-color: var(--basic-background);
}

.header-main {
background-color: var(--special-darkblue);
margin-bottom: 41px;
}

.container {
width: 940px;
margin: 0 auto;
padding: 0 10px;
}

.header-main .container {
display: flex;
align-items: center;
}

.header-logo {
display: inline-block;
background-color: var(--basic-red);
box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
text-align: center;
width: 220px;
height: 47px;
margin-right: 42px;
padding-top: 12px;
}

.header-logo:active {
background-color: var(--basic-error);
box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.user-nav {
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.user-nav a,
.user-nav input {
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: normal;
font-style: normal;
color: var(--white);
}

.user-nav__search {
background: none;
border: none;
color: var(--basick-black);
position: relative;
padding-left: 25px;
}

.user-nav__search::placeholder {
color: var(--white);
}

.user-nav svg {
position: absolute;
top: 20px;
left: 345px;
opacity: 0.3;
}

.user-nav__form:hover svg,
.user_nav__form:focus svg {
opacity: 1;
}

.user-nav__form:active svg,
.user-nav__form:active input {
background-color: var(--white);
color: var(--basic-black);
}

.user-nav__search:focus + .user-nav__search-image path,
.user-nav__search:active + .user-nav__search-image path {
fill-opacity: 1;
fill: var(--basic-red);
}

.bookmark {
position: relative;
padding-left: 23px;
display: inline-block;
}

.bookmark::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 14px;
height: 16px;
background-image: url("../img/icon-bookmark.svg");
background-position: 0 0;
background-repeat: no-repeat;
opacity: 0.3;
}

.cart {
display: inline-block;
position: relative;
padding-left: 23px;
}

.cart::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 15px;
height: 15px;
background-image: url("../img/icon-cart.svg");
background-position: 0 0;
background-repeat: no-repeat;
opacity: 0.3;
}

.bookmark:hover::before,
.cart:hover::before,
.bookmark:focus::before,
.cart:focus::before  {
opacity: 1;
}

.bookmark:active::before,
.cart:active::before,
.cart:active,
.bookmark:active {
color: var(--white-halfopacity);
background-color: var(--special-blackblue);
}

.checkout {
display: inline-block;
background-color: var(--basic-green);
padding-top: 9px;
padding-bottom: 9px;
padding-left: 19px;
padding-right: 16px;
}

.checkout:hover {
background-color: var(--basic-greenlighter);
}

.checkout:active {
color: var(--white-halfopacity);
}

.header-contacts__container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.header-text {
font-family: "Cuprum", Arial, sans-serif;
font-style: italic;
font-size: 16px;
line-height: 23px;
color: var(--basic-red);
margin: 0;
padding: 0;
margin-left: 29px;
margin-bottom: 44px;
width: 197px;
height: 71px;
}

.header-contacts__phone {
display: inline-block;
position: relative;
padding-left: 74px;
padding-top: 7px;
padding-bottom: 8px;
padding-right: 45px;
font-weight: bold;
font-style: normal;
margin: 0;
font-family: "Cuprum", Arial sans-serif;
font-size: 21px;
line-height: 30px;
color: var(--basic-red);
border: 3px solid var(--white);
background: var(--basic-lightgrey);
}

.header-contacts__phone::before {
content: "";
position: absolute;
top: 10px;
left: 39px;
width: 19px;
height: 19px;
background-image: url("../img/icon-phone.svg");
background-repeat: no-repeat;
background-position: 0 0;
}

.header-contacts p {
font-family: "Cuprum", Arial, sans-serif;
font-size: 14px;
line-height: 24px;
color: var(--basic-darkblue);
margin: 0;
padding: 0;
margin-top: 11px;
padding-left: 10px;
}

.user-main__list {
list-style: none;
display: flex;
align-items: center;
justify-content: flex-end;
margin: 0;
padding: 0;
}

.registration {
margin: 0;
padding: 12px 24px;
}

.checkin {
padding-right: 27px;
padding-bottom: 12px;
padding-top: 12px;
margin: 0;
margin-right: 10px;
}

.checkin a {
position: relative;
padding-left: 45px;
}

.checkin a::before {
content: "";
position: absolute;
top: 3px;
left: 19px;
width: 20px;
height: 17px;
background-image: url(../img/icon-login.svg);
background-repeat: no-repeat;
background-position: 0 0;
}

.user-main__item {
background-color: var(--black-opacitymin);
}

.user-main__item a {
display: inline-block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 21px;
line-height: 21px;
color: var(--basic-black);
font-style: normal;
font-weight: normal;
}

.user-main__item a:hover {
color: var(--basic-red);
}

.user-main__item a:active {
color: var(--basic-greylight);
}

.header-nav {
padding: 0;
margin-bottom: 60px;
}

.header-nav__list {
list-style: none;
display: flex;
justify-content: space-around;
margin: 0;
padding: 0;
background-color: var(--basic-darkblue);
box-shadow: 0 -5px 0 0 var(--special-darkblue) inset;
}

.header-nav__link a {
display: inline-block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--white);
padding-top: 16px;
padding-bottom: 20px;
padding-left: 28px;
padding-right: 28px;
background-color: var(--basic-darkblue);
box-shadow: 0 -5px 0 0 var(--special-darkblue) inset;
}

.header-nav__link a:hover {
background-color: var(--special-darkblue);
box-shadow: inset 0 -5px 0 0 var(--special-darkblue);
}

.header-nav__link a:active {
background-color: var(--dark-blue);
box-shadow: inset 0 -5px 0 0 var(--special-darkblue);
color: var(--white-halfopacity);
}

.main-features__list {
list-style: none;
padding: 0;
margin: 0;
margin-top: 59px;
display: grid;
grid-template-rows: 123px 123px 123px;
grid-template-columns: 300px 300px 300px;
gap: 20px;
}

.slider {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 4;
}



.main-features__item h3 {
font-family: "Cuprum", Arial, sans-serif;
font-size: 24px;
line-height: 30px;
color: var(--white);
}

.item-button {
display: inline-block;
font-family: "Cuprum", Arial, sans-serif;
text-transform: uppercase;
background-color: var(--basic-opacitywhite);
font-size: 14px;
line-height: 18px;
color: var(--white);
}

.item-button:hover {
background-color: var(--grey-opacity);
}

.item-button:active {
background-color: var(--grey-opacity);
}

.features-materials {
background-color: var(--special-yellow);
}

.features-tools {
background-color: var(--special-blue);
}

.features-equipment {
background-color: var(--special-lilac);
}

.features-discount {
background-color: var(--special-greenlight);
}

.features-delivery {
background-color: var(--basic-delivery);
}

.slider h3 {
font-family: "Cuprum", Arial,  sans-serif;
font-weight: bold;
font-size: 36px;
line-height: 36px;
text-transform: uppercase;
color: var(--white);
}

.slider p {
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
color: var(--white);
}

.slider-button {
display: inline-block;
}

.page-button {
background-color: var(--basic-red);
font-family: "Cuprum", Arial, sans-serif;
font-size: 14px;
line-height: 18px;
font-style: normal;
font-weight: normal;
text-align: center;
text-transform: uppercase;
color: var(--white);
}

.page-button:active {
background-color: var(--basic-error);
}

.catalog-title__container {
display: flex;
background-color: var(--special-greylighter);
justify-content: space-between;
align-items: center;
padding: 0;
margin-bottom: 20px;
margin-top: 59px;
}

.catalog-main__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
color: var(--basic-darkblue);
margin: 0;
padding-top: 29px;
padding-bottom: 30px;
padding-left: 28px;
}

.catalog-main__button {
margin: 0;
padding: 0;
padding-bottom: 9px;
padding-top: 11px;
padding-left: 24px;
padding-right: 24px;
width: 192px;
margin-right: 14px;
}

.catalog-main__list {
list-style: none;
padding: 0;
display: flex;
justify-content: space-between;
margin-bottom: 70px;
}

.catalog-main__item {
background-color: var(--white);
border: 1px solid var(--light-grey);
box-sizing: border-box;
width: 220px;
min-height: 318px;
margin-bottom: 20px;
}

.bosh-9000 {
  margin: 6px 18px 8px 18px;
}

.bosh-3000,
.bosh-2000  {
margin: 29px 53px 38px 40px; 
}

.bosh-6000 {
margin: 22px 43px 28px 33px;
}

.catalog-main__item h3 {
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
font-size: 18px;
line-height: 20px;
text-align: center;
color: var(--basic-black);
}

.catalog-main__item a {
color: var(--basic-black);
display: inline-block;
}

.old_price {
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
font-size: 17px;
line-height: 18px;
font-style: normal;
text-align: center;
text-decoration: line-through;
color: var(--special-grey);
}

.price {
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
font-size: 17px;
line-height: 18px;
text-align: center;
color: var(--white);
background-color: var(--basic-red);
margin: 0;
padding: 0;
margin-bottom: 21px;
}

.brends-container {
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--special-greylighter);
padding: 0;
margin-bottom: 20px;
}

.brends-main__button {
display: inline-block;
width: 192px;
padding: 11px 38px 9px 39px;
margin-right: 19px;        
}

.brends-main__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-darkblue);
margin-left: 28px;
}

.brends-main__list {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 70px;
text-align: center;
align-items: center;
}

.brends-main__item {
background-color: var(--white);
border: 1px solid var(--light-grey);
box-sizing: border-box;
margin-bottom: 20px;
width: 220px;
min-height: 145px;
}

.brends-main__item a {
display: inline-block;
}

.brends-main__item:hover {
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.brends-main__item:active {
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
opacity: 0.5;
}

.service-main {
background-color: var(--basic-background);
padding: 0;
margin-bottom: 70px;
}

.service-main__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
padding-top: 64px;
}

.service-main__paragraph {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
color: var(--basic-black);
width: 394px;
min-height: 49px;
margin-top: 25px;
}

.credit-main__button {
           
}

.service-slider {
display: flex;
}

.service-slider__list {
list-style: none;
margin: 0;
padding: 0;
margin-top: 70px;
}

.service-slider__item {
font-family: "Cuprum", Arial, sans-serif;
font-weight: bold;
font-size: 21px;
line-height: 30px;
color: var(--white);
background-color: var(--basic-darkblue);
box-shadow: 0 1px 0 0 var(--special-darkblue),
            0 1px 0 0 var(--special-greyblue) inset;
width: 240px;
padding-top: 13.5px;
padding-left: 22px;
padding-bottom: 17.5px;

}

.service-slider__item:hover,
.service-slider__item:focus {
background-color: var(--special-darkblue);
box-shadow: 0 1px 0 0 var(--special-darkblue),
            0 1px 0 0 var(--special-greyblue) inset;
color: var(--white);    
}

.service-slider__item:active {
background-color: var(--white);
box-shadow: 0 1px 0 0 var(--white),
            0 1px 0 0 var(--white) inset;
color: var(--basic-darkblue);
}

.slider__item_active {
background-color: var(--white);
box-shadow: 0 1px 0 0 var(--white),
            0 1px 0 0 var(--white) inset;
color: var(--basic-darkblue);
}

.service-slider__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-darkblue);
}

.service-slider__paragraph {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
color: var(--basic-black);
}

.credit-main__button {
display: inline-block;
}

.company-main {
display: flex;
justify-content: space-between;
margin-bottom: 70px;
}

.company-main h2 {
margin: 0;
margin-bottom: 24px;
}

.transport-company {
width: 457px;
}

.transport-company__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
}

.paragraph-container {
margin: 0;
}

.transport-company__paragraph {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
color: var(--basic-black);
margin: 0;
}

.transport-company__paragraph:last-child {
margin-bottom: 0;
margin-top: 43px;
}

.transport-company__list {
list-style: none;
margin: 0;
margin-bottom: 20px;
}

.transport-company__item {
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
color: var(--basic-black);
margin: 0;
margin-bottom: 12px;
}

.transport-company__button {
display: inline-block;
padding: 11px 40px 9px 40px;
margin: 0;
}

.location-contacts {
width: 300px;
}

.location-contacts__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
}

.location-contacts__paragraph {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
color: var(--basic-black);
margin: 0;
margin-bottom: 32px;
}

.location-contacts__map img {
margin: 0;
margin-bottom: 25px; 
}

.location-contacts__feedback {
display: inline-block;
padding: 11px 61px 9px 62px;
}

.footer {
background-color: var(--basic-darkblue);
}

.nav {
display: grid;
grid-template-columns: 1fr 1fr;
padding: 0;
}

.footer-logo {
display: inline-block;
}

.footer-logo img {
background-color: var(--basic-red);
box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
margin: 0;
text-align: center;
padding: 20px 41px 25px 41px;;
}

.footer-logo img:active {
background-color: var(--basic-error);
box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.footer-nav__list {
list-style: none;
display: flex;
justify-content: space-between;
width: 547px;
margin: 0;
margin-top: 37px;
margin-bottom: 34px;
}

.footer-nav__link a {
display: inline-block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--basic-background);
}

.footer-nav__link a:hover {
text-decoration: underline;
}

.footer-nav__link a:active {
opacity: 0.5;
text-decoration: none;
}

.footer-nav__items {
list-style: none;
display: flex;
width: 524px;
float: right;
margin: 0;
margin-bottom: 74px;
justify-content: space-between;
}

.footer-nav__item a {
display: inline-block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--special-yellowlight);
}

.footer-nav__item a:hover {
text-decoration: underline;
}

.footer-nav__item a:active {
opacity: 0.5;
text-decoration: none;
}

.nav__paragraph, .nav__phone {
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--basic-background);
margin: 0;
}

.nav__phone {
display: inline-block;
}

.nav__paragraph {
margin-top: 22px;
}

.footer-socials {
background-color: var(--special-darkblue);
}

.socials-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.copyright {
font-family: "Cuprum", Arial, sans-serif;
font-size: 16px;
line-height: 18px;
color: var(--white);
width: 227px;
}

.socials__list {
list-style: none;
display: flex;
}

.socials {
width: 160px;
margin: 0;
margin-left: 161px;
}

.socials__link a {
display: inline-block;
background: var(--basic-darkgradient);
}

.socials__link a:hover {
background-color: var(--basic-red);
}

.socials__link a:active {
background-color: var(--basic-red);
}

.feedback-email {
font-family: "Cuprum", Arial, sans-serif;
font-size: 16px;
line-height: 18px;
font-style: normal;
font-weight: normal;
color: var(--white);
width: 137px;
margin-left: 118px;
}

.feedback-email a {
display: inline-block;
color: var(--special-yellowlight);
}

.feedback-email a:hover {
text-decoration: underline;
}

.feedback-email a:active {
text-decoration: none;
color: var(--basic-red);
}

.author {
font-family: "Cuprum", Arial, sans-serif;
font-size: 16px;
line-height: 18px;
font-style: normal;
font-weight: normal;
color: var(--white);
justify-self: end;
width: 98px;
}

.author a {
display: inline-block;
color: var(--special-yellowlight);
}

.author a:hover {
text-decoration: underline;
}

.author a:active {
text-decoration: none;
color: var(--basic-red);
}

.feedback-content label {
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--basic-black);
}

.feedback-content input,
.feedback-content textarea {
border: 2px solid var(--basic-greylight);
box-sizing: border-box;
border-radius: 2px;
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--special-grey);
}

.feedback-content__button {
background-color: var(--basic-red);
color: var(--white);
border: none;
}

.feedback-content__close {
border: none;
background-color: var(--white);
}

.map-popup__close {
border: none;
background-color: var(--white);
}

.user-catalog {
width: 299px;
min-height: 70px;
margin-left: 51px;
justify-self: end;
}

.user-catalog__link {
display: inline-block;
position: relative;
padding-left: 41px;
padding-right: 40px;
font-family: "Cuprum", Arial, sans-serif;
font-size: 21px;
line-height: 21px;
text-align: center;
color: var(--basic-black);
background-color: var(--black-opacitymin);
}

.user-catalog__link::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 20px;
height: 18px;
background-image: url("../img/icon-user.svg");
background-repeat: no-repeat;
background-position: 0 0;
}

.user-catalog__list {
display: flex;
justify-content: space-between;
width: 210px;
margin: 0;
padding: 0;
}

.user-catalog__item:first-child {
list-style: none;
}
.user-catalog__item a {
display: inline-block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 16px;
line-height: 18px;
font-style: normal;
font-weight: normal;
text-align: center;
color: var(--basic-darkblue);
}

.catalog-page__container {
display: grid;
grid-template-columns: 220px 1fr; 
align-content: start;
}

.breadcrumbs__list {
list-style: none;
margin: 0;
padding: 0;
display: flex;
margin-bottom: 20px;
margin-top: 21px;
}

.breadcrumbs__item a {
display: inline-block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
color: var(--basic-black);
}

.catalog__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
color: var(--basic-darkblue);
background-color: var(--basic-pinkwhite);
margin: 0;
padding: 0;
margin-bottom: 20px;
padding-top: 29px;
padding-bottom: 30px;
padding-left: 20px;
}

.catalog-container {
display: grid;
grid-template-columns: 220px 1fr;
}

.sorting-container {
margin-left: 21px;
}

.catalog-filter {
background-color: var(--special-whitegrey);
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: var(--basic-black);
text-transform: uppercase;
font-weight: normal;
margin: 0;
padding: 0;
margin-bottom: 14.15px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 18px;
}

.catalog-container__filter legend {
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
font-style: normal;
font-size: 17px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
}

.catalog-container__filter {
width: 220px;
}

.price-filter legend {
margin: 0;
padding: 0;
margin-bottom: 10.85px;
}

.price-range {
background-color: var(--basic-beige);
padding: 39px 48px 39px 20px;
}

.catalog-container__filter fieldset {
margin: 0;
padding: 0;
border: none;
}

.price-filter output {
font-family: "PT Sans", Arial, sans-serif;
font-weight: normal;
font-size: 17px;
line-height: 18px;
font-style: normal;
color: var(--basic-black);
background-color: var(--basic-beige);
}

.output {
display: flex;
justify-content: space-between;
margin: 0;
margin-bottom: 42px;
align-items: center;
}

.price-filter output:first-child {
padding: 10px 43px 10px 42px;
}

.price-filter output:last-child {
padding: 10px 24px;
}

.manufacturers legend {
margin-bottom: 17.5px;
}

.nutrition legend {
margin-bottom: 23.35px;
}

.manufacturers__list,
.nutrition__list {
list-style: none;
margin: 0;
padding: 0;
}

.manufacturers__list {
margin-bottom: 46px;
}

.nutrition__list {
margin-bottom: 37.15px;
}

.manufacturers__item,
.nutrition__item {
font-family: "PT Sans", Arial, sans-serif;
font-size: 15px;
line-height: 19px;
text-transform: uppercase;
margin-bottom: 20px;
}

.item-checkbox:hover,
.item-radio:hover,
.item-checkbox:checked:hover,
.item-radio:checked:hover {
color: var(--special-darkwhite);
}

.filter-button {
background-color: var(--white);
border: 1px solid var(--basic-whitegrey);
box-sizing: border-box;
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: center;
color: var(--basic-black);
padding: 10px 79.57px 10px 78.43px;
}

.sorting {
display: flex;
margin: 0;
padding: 0;
background-color: var(--special-whitegrey);
align-items: center;
margin-bottom: 28px;
}

.sorting p {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: var(--basic-black);
text-transform: uppercase;
margin: 0;
padding: 0;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 19px;
}

.sorting__list {
list-style: none;
display: flex;
margin: 0;
padding: 0;
margin-left: 140px;
}

.sorting__item button {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: var(--basic-opacityblack);
background-color: var(--special-whitegrey);
border: none;
text-transform: uppercase;
border-bottom: 1px dotted var(--basic-red);
margin: 0;
padding: 0;
}

.sorting__item button:hover,
.sorting__item button:focus {
color: var(--basic-black);
border-bottom: 1px solid var(--basic-red);
}

.sorting__item_active button {
color: var(--basic-red);
border-bottom: none;
}

.catalog-content {
margin-bottom: 48px;
}

.catalog-content__list {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0;
padding: 0;
}

.content-buttons__cart {
position: relative;
padding-left: 25px;
background-color: var(--basic-green);
box-shadow: 0 -3px 0 0 #367315 inset;
border-radius: 2px;
border: none;
font-family: "Cuprum", Arial, sans-serif;
font-size: 14px;
line-height: 18px;
text-align: center;
text-transform: uppercase;
color: var(--white);
}

.content-buttons__cart::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 15px;
height: 15px;
background-image: url("../img/icon-cart.svg");
background-repeat: no-repeat;
background-position: 0 0;
}

.content-buttons {
display: none;
}

.content-buttons__cart:hover {
background-color: var(--basic-greenlighter);
box-shadow: 0 -3px 0 0 #367315 inset;
border-radius: 2px;
}

.content-buttons__cart:active {
background-color: var(--basic-darkgreen);
box-shadow: 0 -3px 0 0 #367315 inset;
border-radius: 2px;
}

.content-buttons__bookmark {
border: 3px solid var(--basic-green);
box-sizing: border-box;
border-radius: 2px;
background-color: var(--white);
font-family: "Cuprum", Arial, sans-serif;
font-size: 14px;
line-height: 18px;
text-align: center;
text-transform: uppercase;
color: var(--basic-darkblue);
}

.content-buttons__bookmark:hover {
border: 3px solid var(--basic-darkblue);
}

.content-buttons__bookmark:active {
border: 3px solid var(--basic-darkblue);
opacity: 0.5;
}

.catalog-pagination {
width: 284px;
margin-bottom: 59px;
}

.catalog-pagination__list {
list-style: none;
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
}

.catalog-pagination__link a {
display: inline-block;
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
font-style: normal;
font-weight: normal;
text-align: center;
color: var(--basic-black);
border: 1px solid var(--basic-whitegrey);
box-sizing: border-box;
border-radius: 2px;
padding:  10px 15px 10px 15px;
}

.catalog-pagination__link:last-child {
text-transform: uppercase;
}

.catalog-pagination__link a:hover {
border: 1px solid var(--basic-greylight); 
}

.catalog-pagination__link a:active {
border: 1px solid var(--basic-red); 
}

.catalog-pagination__link_current a, 
.catalog-pagination__link_current a:hover,
.catalog-pagination__link_current a:active {
background-color: var(--basic-red);
color: var(--white);
}

.about {
background-color: var(--basic-background);
padding-top: 64px;
padding-bottom: 68px;
}

.about h2 {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
margin: 0;
padding: 0;
margin-bottom: 25px;
}

.about p {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
color: var(--basic-black);
margin: 0;
padding: 0;
}

.modal-cart__content p {
position: relative;
padding-left: 84px;
font-family: "Cuprum", Arial, sans-serif;
font-weight: bold;
font-style: normal;
font-size: 24px;
line-height: 30px;
text-align: center;
color: var(--basic-black);
}

.modal-cart__content p::before {
content: "";
position: absolute;
top: -20px;
left: 300px;
width: 66px;
height: 66px;
background-image: url("../img/icon-mark.svg");
background-repeat: no-repeat;
background-position: 0 0;
}

.modal-cart__checkout {

}

.modal-cart__continue {
font-family: "Cuprum", Arial, sans-serif;
font-size: 14px;
line-height: 18px;
text-align: center;
text-transform: uppercase;
background-color: var(--white);
color: var(--basic-black);
}

.modal-cart__close {
background-color: var(--white);
border: none;
}
