
:root {
--basic-red: #ee3643;
--basic-green: #63a63e;
--basic-grey: #3d546f;
--basic-greylight: #c5c5c5;
--basic-background: #f1f5f7;
--white: #ffffff;
--special-yellow: #ffbf47;
--special-blue: #3bbce3;
--special-lilac: #dc91d8;
--special-greenlight: #8ed78f;
--special-yellowlight: #ffd180;
--basic-greenlighter: #5fbb2d;
--basic-error: #ba2732;
--light-grey: #EAEAEA;
--basic-black: #000000;
--basic-darkblue: #32425c;
--basic-lightgrey: #f3f7f9;
--special-darkblue: #293449;
--special-grey: #a9a9a9;
--special-greylighter: #f9f5f0;
--special-greyblue: #405069;
--special-whitegrey: #f3f7ec;
--basic-whitegrey: #e5e5e5;
--basic-darkgreen: #518534;
--basic-opacitywhite: rgba(255, 255, 255, 0.3);
--basic-blackblue: #212a3a;
--basic-darkgradient: linear-gradient(0deg, #212a3a, #212a3a);
--white-halfopacity: rgba(255, 255, 255, 0.5);
--special-blackblue: #161d29;
--basic-pinkwhite: #f2f6f8;
--basic-beige: #f7f3ec;
--special-darkwhite: #b5b5b5;
--basic-opacityblack: rgba(0, 0, 0, 0.3);
--dark-blue: #1d2739;
--black-opacitymin: rgba(0, 0, 0, 0.0001);
--grey-opacity: rgba(197, 197, 197, 0.3);
--basic-delivery: #ffc047;
--special-blackopacity: rgba(0, 0, 0, 0.15);
--filter-range: #d7dcde;
--filter-green: #00ca74;
--filter-grey: #ababab;
--filter-shadow: #cfcfcf;
--filter-price: #444444;
--feedback-color: #f4f4f4;
--white-maxopacity: rgba(255, 255, 255, 0.9);
--special-darkgreen: #367315;
--modal-cart: #f1f1f1;
}

body {
min-width: 1200px;
margin: 0;
padding: 0;
font-family: "PT Sans", Arial, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: normal;
font-style: normal;
}

.visually-hidden {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
overflow: hidden;
}

a {
text-decoration: none; 
}

img {
max-width: 100%;
height: auto;
}

.page {
height: 100%;
}

.page-body {
height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
}

.page-header {
background-color: var(--basic-background);
margin-bottom: 58px;
padding-bottom: 60px;
}

.header-main {
background-color: var(--special-darkblue);
margin-bottom: 44px;
height: 42px;
}

.container {
width: 940px;
margin: 0 auto;
padding: 0 10px;
}

.header-main .container {
display: flex;
align-items: flex-start;
}

.header-logo {
display: flex;
justify-content: center;
align-items: center;
width: 220px;
padding-top: 12px;
padding-bottom: 17px;
background-color: var(--basic-red);
box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
margin-right: 17px;
padding-right: 4px;
}

.header-logo:active {
background-color: var(--basic-error);
box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.user-nav {
position: relative;
width: 720px;
display: flex;
align-items: center;
justify-content: space-between;
}

.user-nav a,
.user-nav input {
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: normal;
font-style: normal;
color: var(--white);
}

.user-nav__search {
background: none;
border: none;
color: var(--basick-black);
position: relative;
padding-left: 26px;
}

.user-nav__search::placeholder {
color: var(--white);
}

.user-nav svg {
position: absolute;
top: 12px;
left: 1px;
fill-opacity: 0.3;
}

.user-nav__form:hover svg,
.user_nav__form:focus svg {
fill-opacity: 1;
}

.user-nav__form:active svg,
.user-nav__form:active input {
background-color: var(--white);
color: var(--basic-black);
}

.user-nav__search:focus + .user-nav__search-image path,
.user-nav__search:active + .user-nav__search-image path {
fill-opacity: 1;
fill: var(--basic-red);
}

.user-nav__form .user-nav__search:focus,
.user-nav__form .user-nav__search:active {
background-color: var(--white);
color: var(--basic-black);
}

.bookmark {
position: relative;
padding-left: 23px;
display: block;
padding: 9px 24px 9px 43px;
}

.bookmark::before {
content: "";
position: absolute;
top: 12px;
left: 17px;
width: 14px;
height: 16px;
background-image: url("../img/icon-bookmark.svg");
background-position: 0 0;
background-repeat: no-repeat;
opacity: 0.3;
}

.cart {
display: block;
position: relative;
padding: 9px 21px 9px 35px;
margin: 0;
}

.catalog--cart {
background-color: var(--basic-red);
}

.cart::before {
content: "";
position: absolute;
top: 12px;
left: 12px;
width: 15px;
height: 15px;
background-image: url("../img/icon-cart.svg");
background-position: 0 0;
background-repeat: no-repeat;
opacity: 0.3;
}

.bookmark:hover::before,
.cart:hover::before,
.bookmark:focus::before,
.cart:focus::before  {
opacity: 1;
}

.cart:active,
.bookmark:active {
color: var(--white-halfopacity);
background-color: var(--special-blackblue);
}

.bookmark:active::before,
.cart:active::before {
opacity: 0.3;
}

.checkout {
display: inline-block;
background-color: var(--basic-green);
margin: 0;
padding-top: 9px;
padding-bottom: 9px;
padding-left: 19px;
padding-right: 16px;
}

.checkout:hover {
background-color: var(--basic-greenlighter);
}

.checkout:active {
color: var(--white-halfopacity);
}

.header-contacts__container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.header-text {
font-family: "Cuprum", Arial, sans-serif;
font-style: italic;
font-size: 16px;
line-height: 23px;
color: var(--basic-red);
margin: 0;
padding: 0;
margin-left: 29px;
margin-bottom: 44px;
width: 197px;
height: 71px;
}

.header-contacts__phone {
display: inline-block;
position: relative;
padding-left: 78px;
padding-top: 7px;
padding-bottom: 8px;
padding-right: 45px;
font-weight: bold;
font-style: normal;
margin: 0;
font-family: "Cuprum", Arial sans-serif;
font-size: 21px;
line-height: 30px;
color: var(--basic-red);
border: 3px solid var(--white);
background: var(--basic-lightgrey);
margin-top: -1px;
}

.header-contacts__phone::before {
content: "";
position: absolute;
top: 12px;
left: 43px;
width: 19px;
height: 19px;
background-image: url("../img/icon-phone.svg");
background-repeat: no-repeat;
background-position: 0 0;
}

.header-contacts p {
font-family: "Cuprum", Arial, sans-serif;
font-size: 14px;
line-height: 24px;
color: var(--basic-darkblue);
margin: 0;
padding: 0;
padding-left: 16px;
}

.user-main__list {
list-style: none;
display: flex;
align-items: center;
justify-content: flex-end;
margin: 0;
padding: 0;
margin-top: 2px;
}

.registration {
margin: 0;
padding: 12px 24px;
background-color: var(--white);
}

.checkin {
padding-right: 27px;
padding-bottom: 12px;
padding-top: 12px;
margin: 0;
margin-right: 10px;
}

.checkin a {
position: relative;
padding-left: 6px;
}

.checkin a:hover,
.registration a:hover,
.checkin:hover path,
.checkin a:focus,
.registration a:focus,
.checkin:focus path {
color: var(--basic-red);
fill: var(--basic-grey);
}

.checkin a:active,
.registration a:active,
.checkin:active path {
color: var(--basic-greylight);
fill: var(--basic-greylight);
}

.user-main__item:first-child {
background-color: var(--white);
position: relative;
padding-left: 45px;
}

.user-main__item svg {
padding-left: 19px;
position: absolute;
left: 5px;
top: 13px;
}

.user-main__item a {
display: block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 21px;
line-height: 21px;
color: var(--basic-black);
font-style: normal;
font-weight: normal;
text-align: center;
}

.user-main__item a:hover {
color: var(--basic-red);
}

.user-main__item a:active {
color: var(--basic-greylight);
}

.header-nav__list {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 0;
padding: 0;
padding-left: 22px;
padding-right: 17px;
background-color: var(--basic-darkblue);
box-shadow: 0 -5px 0 0 var(--special-darkblue) inset;
}

.header-nav__link a {
display: block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--white);
padding-top: 16px;
padding-bottom: 20px;
padding-left: 28px;
padding-right: 28px;
background-color: var(--basic-darkblue);
box-shadow: 0 -5px 0 0 var(--special-darkblue) inset;
}

.header-nav__link a:hover {
background-color: var(--special-darkblue);
box-shadow: inset 0 -5px 0 0 var(--special-darkblue);
}

.header-nav__link a:active {
background-color: var(--dark-blue);
box-shadow: inset 0 -5px 0 0 var(--special-darkblue);
color: var(--white-halfopacity);
}

.main-block {
margin-bottom: 70px;
}

.main-features {
margin-bottom: 59px;
}

.main-features__list {
list-style: none;
padding: 0;
margin: 0;
display: grid;
grid-template-rows: 123px 123px 123px;
grid-template-columns: 300px 300px 300px;
gap: 20px;
}

.slider {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 4;
}

.features--item {
padding-top: 20px;
padding-left: 22px;
}

.main-features__item h3 {
font-family: "Cuprum", Arial, sans-serif;
font-size: 24px;
line-height: 30px;
color: var(--white);
padding: 0;
margin: 0;
margin-bottom: 14px;
}



.item-button {
display: flex;
align-items: center;
justify-content: center;
font-family: "Cuprum", Arial, sans-serif;
text-transform: uppercase;
background-color: var(--basic-opacitywhite);
font-size: 14px;
line-height: 18px;
color: var(--white);
width: 135px;
padding-top: 10px;
padding-bottom: 10px;
}

.item-button:hover {
background-color: var(--grey-opacity);
}

.item-button:active {
background-color: var(--grey-opacity);
}

.features-materials {
background-color: var(--special-yellow);
background-image: url("../img/icon-materials.svg");
background-repeat: no-repeat;
background-position: 213px 31px;
}

.features-tools {
background-color: var(--special-blue);
background-image: url("../img/icon-tools.svg");
background-repeat: no-repeat;
background-position: 194px 34px;
}

.features-equipment {
background-color: var(--special-lilac);
background-image: url("../img/icon_equipment.svg");
background-repeat: no-repeat;
background-position: 191px 31px;
}

.features-discount {
background-color: var(--special-greenlight);
background-image: url("../img/icon-discount.svg");
background-repeat: no-repeat;
background-position: 196px 26px;
}

.features-delivery {
background-color: var(--basic-delivery);
background-image: url("../img/icon-delivery.svg");
background-repeat: no-repeat;
background-position: 191px 32px;
}

.slider {
position: relative;
background-color: var(--special-grey);
}

.slider-item h3 {
position: absolute;
top: 23px;
left: 24px;
font-family: "Cuprum", Arial,  sans-serif;
font-weight: bold;
font-size: 36px;
line-height: 36px;
text-transform: uppercase;
color: var(--white);
}

.slider-item p {
position: absolute;
top: 46px;
left: 24px;
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
color: var(--white);
}

.slider-button {
display: inline-block;
position: absolute;
top: 201px;
left: 24px;
padding: 11px 46px 9px 46px;
}

.slider-item {
display: none;
}

.slider-current {
display: block;
}

.slider-controls {
position: absolute;
top: 220px;
left: 295px;
z-index: 20;
display: flex;
width: 30px;
justify-content: space-between;
}

.slider-controls button {
padding: 0;
width: 10px;
height: 10px;
background-color: var(--white);
border: 2px solid var(--white);
border-radius: 50%;
cursor: pointer;
}

.slider-controls .checked-button {
background-color: var(--basic-red);
}

.page-button {
background-color: var(--basic-red);
font-family: "Cuprum", Arial, sans-serif;
font-size: 14px;
line-height: 18px;
font-style: normal;
font-weight: normal;
text-align: center;
text-transform: uppercase;
color: var(--white);
}

.slider-prv {
position: absolute;
top: 122px;
left: 24px;
width: 22px;
height: 40px;
background-image: url("../img/icon-left.svg");
background-repeat: no-repeat;
background-position: 0 0;
cursor: pointer;
}

.slider-nxt {
position: absolute;
top: 122px;
left: 578px;
width: 22px;
height: 40px;
background-image: url("../img/icon-right.svg");
background-repeat: no-repeat;
background-position: 0 0;
cursor: pointer;
}

.page-button:active {
background-color: var(--basic-error);
}

.catalog-main {
margin-bottom: 70px;
}

.catalog-popular {
display: flex;
background-color: var(--special-greylighter);
justify-content: space-between;
align-items: center;
padding: 0;
margin-bottom: 20px;
}

.catalog-main__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
color: var(--basic-darkblue);
margin: 0;
padding-top: 29px;
padding-bottom: 30px;
padding-left: 28px;
}

.catalog-main__button {
margin: 0;
padding: 0;
padding-bottom: 9px;
padding-top: 11px;
width: 192px;
margin-right: 14px;
text-align: center;
}

.catalog-main__list {
list-style: none;
display: flex;
justify-content: space-between;
padding: 0;
}

.catalog-main__item {
position: relative;
display: inline-block;
background-color: var(--white);
border: 1px solid var(--light-grey);
box-sizing: border-box;
width: 220px;
text-align: center;
}

.catalog-content__list {
width: 700px;
margin: 20px auto;
list-style: none;
padding: 0;
display: flex;
justify-content: space-between;
}

.catalog-main__item--card {
position: relative;
display: inline-block;
background-color: var(--white);
border: 1px solid var(--light-grey);
box-sizing: border-box;
width: 220px;
margin-right: 20px;
margin-bottom: 20px;
text-align: center;
}

.catalog-main__item--card:nth-child(3n) {
margin-right: 0;
}

.catalog-main__list {
font-size: 0;
}

.catalog-main__item {
font-size: 16px;
}

.catalog-main__item .flag {
position: absolute;
top: -1px;
right: -1px;
width: 70px;
height: 70px;
text-indent: -1000px;
overflow: hidden;
z-index: 20;
}

.catalog-main__item .flag-new {
background: url(../img/new-flag.png);
background-repeat: no-repeat;
background-position: 0px 0px;
}

.catalog-main__item .content-buttons {
position: absolute;
top: 0;
left: 0;
width: 220px;
height: 88px;
padding: 40px 0;
background-color: var(--white-maxopacity);
z-index: 10;
}

.content-cart,
.content-bookmark {
display: block;
width: 135px;
margin: 0 auto;
margin-bottom: 7px;
padding: 7px 0;
background-color: var(--basic-green);
border-radius: 2px;
font-size: 14px;
font-weight: normal;
font-family: "Cuprum", Arial, sans-serif;
line-height: 18px;
text-decoration: none;
text-transform: uppercase;
}

.content-cart {
position: relative;
box-shadow: 0 -3px 0 0 var(--special-darkgreen) inset;
color: var(--white);
}

.content-cart::before {
content: "";
position: absolute;
top: 7px;
left: 25px;
width: 15px;
height: 15px;
background-image: url(../img/icon-cart.svg);
background-repeat: no-repeat;
background-position: 0 0;
opacity: 0.3;
}

.content-bookmark {
color: var(--basic-darkblue);
background-color: var(--white);
border: 3px solid var(--basic-green);
box-sizing: border-box;
color: var(--basic-darkblue);
}

.content-cart:hover,
.content-cart:focus {
background-color: var(--basic-greenlighter);
border-color: var(--basic-greenlighter);
border-bottom-color: var(--basic-green);
}

.content-cart:active {
background-color: var(--basic-darkgreen);
}

.content-bookmark:hover,
.content-bookmark:focus {
border: 3px solid var(--basic-darkblue);
box-sizing: border-box;
border-radius: 2px;
}

.content-bookmark:active {
opacity: 0.5;
}

.content-buttons {
display: none;
}

.catalog-main__item:hover .content-buttons {
display: block;
}

.catalog-main__item .image {
width: 184px;
height: 164px;
}

.catalog-main__item img {
max-width: 100%;
}

.catalog-main__item h3 {
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
font-size: 18px;
line-height: 20px;
min-height: 40px;
padding: 0 25px;
margin-top: 16px;
margin-bottom: 8px;
text-align: center;
color: var(--basic-black);
}

.bosh-9000 {
margin: 6px 18px 8px 18px;
}
      
.bosh-3000,
.bosh-2000  {
margin: 29px 53px 38px 40px; 
}
      
.bosh-6000 {
margin: 22px 43px 28px 33px;
}

.old_price {
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
font-size: 17px;
line-height: 18px;
font-style: normal;
text-align: center;
min-height: 20px;
margin-top: 0;
margin-bottom: 0;
text-decoration: line-through;
color: var(--special-grey);
}

.price {
position: relative;
width: 80px;
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
font-size: 17px;
line-height: 18px;
text-align: center;
color: var(--white);
background-color: var(--basic-red);
margin: 10px auto;
padding: 10px 24px;
margin-bottom: 20px;
border-radius: 3px;
}

.price::after {
content: "";
position: absolute;
top: 0;
right: -30px;
width: 0;
height: 0;
border: 19px solid var(--white);
border-left-color: var(--basic-red);
}

.brends-main {
margin-bottom: 70px;
}

.brends-container {
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--special-greylighter);
padding: 0;
margin-bottom: 20px;
min-height: 88px;
}

.brends-main__button {
display: inline-block;
width: 192px;
padding-top: 11px;
padding-bottom: 9px;
margin-right: 19px;        
}

.brends-main__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
font-weight: normal;
font-style: normal;
text-transform: uppercase;
color: var(--basic-darkblue);
margin-left: 28px;
}

.brends-main__list {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 0;
text-align: center;
align-items: center;
}

.brends-main__item {
display: flex;
background-color: var(--white);
border: 1px solid var(--light-grey);
box-sizing: border-box;
margin-bottom: 20px;
width: 220px;
min-height: 145px;
justify-content: center;
align-items: center;
}

.brends-main__item a {
display: inline-block;
}

.brends-main__item:hover {
box-shadow: 0 4px 20px 0 var(--special-blackopacity);
}

.brends-main__item:active {
box-shadow: 0 4px 20px 0 var(--special-blackopacity);
opacity: 0.5;
}

.service-main {
background-color: var(--basic-background);
padding: 0;
margin-bottom: 70px;
padding-top: 25px;
}

.service-main__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
margin-bottom: 25px;
font-weight: normal;
font-style: normal;
}

.service-main__paragraph {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
color: var(--basic-black);
width: 394px;
min-height: 49px;
margin-bottom: 45px;
}

.service-slider {
position: relative;
display: flex;
margin: 0;
padding: 0;
align-items: flex-start;;
padding-bottom: 99px;
}

.servic-slide {
padding: 0;
margin: 0;
margin-top: 240px;
}

.service-slide {
display: none;
}

.service-slide__active {
display: block;
}

.service-slider__list {
list-style: none;
margin: 0;
padding: 0;
}

.service-slider__item {
font-family: "Cuprum", Arial, sans-serif;
font-weight: bold;
font-size: 21px;
line-height: 30px;
color: var(--white);
background-color: var(--basic-darkblue);
box-shadow: 0 1px 0 0 var(--special-darkblue),
            0 1px 0 0 var(--special-greyblue) inset;
width: 218px;
padding-top: 14px;
padding-left: 22px;
padding-bottom: 18px;
margin-right: 80px;
}

.service-slider__item:hover,
.service-slider__item:focus {
background-color: var(--special-darkblue);
box-shadow: 0 1px 0 0 var(--special-darkblue),
            0 1px 0 0 var(--special-greyblue) inset;
color: var(--white);    
}

.service-slider__item:active {
background-color: var(--white);
box-shadow: 0 1px 0 0 var(--white),
            0 1px 0 0 var(--white) inset;
color: var(--basic-darkblue);
}

.slider__item_active {
background-color: var(--white);
box-shadow: 0 1px 0 0 var(--white),
            0 1px 0 0 var(--white) inset;
color: var(--basic-darkblue);
}

.service-slider__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
font-weight: normal;
font-style: normal;
text-transform: uppercase;
color: var(--basic-darkblue);
padding: 0;
margin: 0;
margin-bottom: 30px;
}

.service-slider__paragraph {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
color: var(--basic-black);
padding: 0;
margin: 0;
}

.credit-main {
position: relative;
}

.credit-main::after {
content: "";
position: absolute;
top: 0;
left: 165px;
width: 465px;
height: 285px;
background-image: url("../img/credit_logo.png");
background-repeat: no-repeat;
background-position: 0 0;
}

.credit-main__button {
display: inline-block;
position: absolute;
top: 143px;
left: 0;
padding: 10px 45px 9px 45px;
border-radius: 3px;
}

.delivery-main {
position: relative;
}

.delivery-main::after {
content: "";
position: absolute;
top: 20px;
left: 151px;
width:468px;
height: 261px;
background-image: url("../img/delivery_logo.png");
background-repeat: no-repeat;
background-position: 0 0;
}

.garanty-main {
position: relative;
}

.garanty-main::after {
content: "";
position: absolute;
top: 0;
left: 220px;
width:389px;
height: 283px;
background-image: url("../img/garanty_logo.png");
background-repeat: no-repeat;
background-position: 0 0;
}

.company-main {
display: flex;
justify-content: space-between;
}

.company-main h2 {
margin: 0;
margin-bottom: 24px;
font-weight: normal;
font-style: normal;
}

.transport-company {
width: 457px;
}

.transport-company__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
}

.paragraph-container {
margin: 0;
}

.transport-company__paragraph {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--basic-black);
margin-bottom: 26px;
}

.transport-company__paragraph:last-child {
margin-bottom: 3px;
}

.transport-company__list {
list-style: none;
margin: 0;
margin-bottom: 20px;
padding-left: 37px;
}

.transport-company__item {
position: relative;
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--basic-black);
margin: 0;
margin-bottom: 12px;
}

.transport-company__item::before {
content: "";
position: absolute;
top: 10px;
left: -37px;
width: 25px;
height: 2px;
background-color: var(--basic-red);
}

.transport-company__button {
display: inline-block;
padding: 11px 40px 9px 40px;
margin: 0;
}

.location-contacts {
width: 300px;
}

.location-contacts__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
font-weight: normal;
text-transform: uppercase;
color: var(--basic-black);
}

.location-contacts__paragraph {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--basic-black);
margin: 0;
margin-bottom: 32px;
}

.location-contacts__map img {
margin: 0;
margin-bottom: 25px; 
}

.location-contacts__feedback {
display: inline-block;
padding: 11px 61px 9px 61px;
}

.footer {
background-color: var(--basic-darkblue);
}

.nav {
display: grid;
grid-template-columns: 1fr 1fr;
padding: 0;
}

.footer-logo {
display: inline-block;
}

.footer-logo img {
background-color: var(--basic-red);
box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
margin: 0;
text-align: center;
padding: 20px 41px 25px 41px;;
}

.footer-logo img:active {
background-color: var(--basic-error);
box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.footer-nav__list {
list-style: none;
display: flex;
justify-content: space-between;
width: 547px;
margin: 0;
padding-top: 39px;
margin-bottom: 33px;
}

.footer-nav__link a {
display: inline-block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--basic-background);
}

.footer-nav__link a:hover {
text-decoration: underline;
}

.footer-nav__link a:active {
opacity: 0.5;
text-decoration: none;
}

.footer-nav__items {
list-style: none;
display: flex;
width: 524px;
float: right;
margin: 0;
padding-bottom: 74px;
justify-content: space-between;
}

.footer-nav__item a {
display: inline-block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--special-yellowlight);
}

.footer-nav__item a:hover {
text-decoration: underline;
}

.footer-nav__item a:active {
opacity: 0.5;
text-decoration: none;
}

.nav__paragraph, .nav__phone {
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--basic-background);
margin: 0;
}

.nav__phone {
display: inline-block;
padding-left: 3px;
}

.nav__paragraph {
margin-top: 16px;
padding-left: 2px;
margin-bottom: 1px;
}

.footer-socials {
background-color: var(--special-darkblue);
}

.socials-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding-top: 18px;
}

.copyright {
font-family: "Cuprum", Arial, sans-serif;
font-size: 16px;
line-height: 18px;
color: var(--white);
width: 227px;
}

.socials__list {
list-style: none;
display: flex;
}

.socials {
width: 160px;
margin: 0;
margin-left: 121px;
}

.socials__link {
margin-right: 1px;
}

.socials__link a {
display: flex;
align-items: center;
justify-content: center;
background: var(--basic-darkgradient);
width: 44px;
height: 44px;
border-radius: 50%;
}

.socials__link a:hover,
.socials__link a:focus ,
.socials__link a:active  {
background: var(--basic-red);
}

.socials__link a:active {
background-color: var(--basic-red);
}

.feedback-email {
font-family: "Cuprum", Arial, sans-serif;
font-size: 16px;
line-height: 18px;
font-style: normal;
font-weight: normal;
color: var(--white);
width: 137px;
margin-left: 133px;
}

.feedback-email a {
display: inline-block;
color: var(--special-yellowlight);
}

.feedback-email a:hover {
text-decoration: underline;
}

.feedback-email a:active {
text-decoration: none;
color: var(--basic-red);
}

.author {
font-family: "Cuprum", Arial, sans-serif;
font-size: 16px;
line-height: 18px;
font-style: normal;
font-weight: normal;
color: var(--white);
justify-self: end;
width: 98px;
margin-right: 13px;
}

.author a {
display: inline-block;
color: var(--special-yellowlight);
}

.author a:hover {
text-decoration: underline;
}

.author a:active {
text-decoration: none;
color: var(--basic-red);
}

.feedback-content {
position: relative;
width: 620px;
padding: 0;
padding-top: 39px;
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.main-form {
display: flex;
flex-wrap: wrap;
padding: 0;
margin: 0;
padding-right: 80px;
}

.decorate {
position: absolute;
top: 0;
left: 0;
width: 620px;
height: 7px;
background-color: var(--basic-red);
}

.main-form__item input {
width: 220px;
margin: 0;
margin-bottom: 10px;
}

.feedback-content label {
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--basic-black);
margin-bottom: 11px;
}

.feedback-content input,
.feedback-content textarea {
display: flex;
flex-wrap: wrap;
border: 2px solid var(--basic-greylight);
box-sizing: border-box;
border-radius: 2px;
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--special-grey);
padding: 0;
margin: 0;
}

.main-form input[type="text"] {
padding: 7px 8px 7px 12px;
}

.main-form input[type="email"] {
padding: 7px 10px 7px 12px;
}

.main-form textarea {
padding: 6px 230px 84px 12px;
}

.button-container {
background-color: var(--feedback-color);
padding: 37px 80px 37px 80px;
}

.feedback-content__button {
background-color: var(--basic-red);
color: var(--white);
border: none;
padding: 11px 199px 10px 199px;
}

.feedback-content__close {
position: absolute;
border: none;
background-color: var(--white);
top: 21px;
left: 588px;
}

.map-popup__content {
position: relative;
}

.map-decorate {
position: absolute;
width: 943px;
height: 7px;
background-color: var(--basic-red);
top: 0;
left: 0;
}

.map-popup__close {
position: absolute;
top: 17px;
left: 912px;
border: none;
background-color: transparent;
}

.user-catalog {
width: 299px;
justify-self: end;
position: relative;
text-align: center;
}

.user-catalog__link {
display: inline-block;
position: relative;
padding-left: 56px;
padding-right: 57px;
padding-top: 14px;
padding-bottom: 12px;
font-family: "Cuprum", Arial, sans-serif;
font-size: 21px;
line-height: 21px;
text-align: center;
color: var(--basic-black);
background-color: var(--white);
}

.user-icon svg {
position: absolute;
top: 15px;
left: 15px;
}

.user-catalog__link_logout svg {
position: absolute;
top: 16px;
right: 17px;
}

.user-icon:hover path,
.user-icon:focus path,
.user-catalog__link_logout:hover path,
.user-catalog__link_logout:focus path {
fill: var(--basic-grey);
}

.user-icon:active path,
.user-catalog__link_logout:active path,
.user-catalog__link:active {
fill: var(--basic-greylight);
color: var(--basic-greylight);
}

.user-catalog__list {
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
margin-top: 5px;
margin-left: 44px;
margin-right: 45px;
}

.user-catalog__item:first-child {
list-style: none;
}

.user-catalog__item:last-child {
padding-left: 3px;
}

.user-catalog__item a {
display: inline-block;
font-family: "Cuprum", Arial, sans-serif;
font-size: 16px;
line-height: 18px;
font-style: normal;
font-weight: normal;
text-align: center;
color: var(--basic-darkblue);
}
.user-catalog__list:hover,
.user-catalog__list:focus,
.user-catalog__item a:hover,
.user-catalog__item a:focus {
color: var(--basic-red);
}

.user-catalog__list:active,
.user-catalog__item a:active {
color: var(--basic-greylight);
}

.header--catalog {
margin-bottom: 20px;
}

.catalog-page__container {
display: grid;
grid-template-columns: 220px 1fr; 
align-content: start;
}

.breadcrumbs {
margin-bottom: 20px;
}

.breadcrumbs__list {
width: 463px;
list-style: none;
margin: 0;
padding: 0;
display: flex;
}


.breadcrumbs__item a {
display: inline-block;
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
color: var(--basic-black);
display: flex;
}

.breadcrumbs-arrow {
position: relative;
}

.breadcrumbs__item:nth-child(1) {
margin-right: 41px;
}

.breadcrumbs__item:nth-child(2) {
margin-right: 40px;
}

.breadcrumbs__item:nth-child(3) {
margin-right: 42px;
}

.breadcrumbs-arrow::before {
content: "";
position: absolute;
top: 3px;
left: -26px;
width: 6.52px;
height: 10.3px;
background-image: url("../img/breadcrumds.svg");
background-repeat: no-repeat;
background-position: 0 0;
}

.catalog {
margin-bottom: 59px;
}

.catalog__title {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
color: var(--basic-darkblue);
background-color: var(--basic-pinkwhite);
margin: 0;
padding: 0;
margin-bottom: 20px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 29px;
}

.catalog-container {
display: grid;
grid-template-columns: 220px 1fr;
}

.sorting-container {
margin-left: 19px;
}

.catalog-filter {
background-color: var(--basic-beige);
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: var(--basic-black);
text-transform: uppercase;
font-weight: normal;
margin: 0;
padding: 0;
margin-bottom: 14px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 18px;
}

.catalog-container__filter legend {
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
font-style: normal;
font-size: 17px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
}

.catalog-container__filter {
width: 220px;
}

.filter-item {
margin: 0;
padding: 0;
border: none;
}

.range-filter {
width: 220px;
margin-top: 11px;
}

.range-controls {
position: relative;
height: 41px;
background-color: var(--basic-beige);
border-radius: 5px;
margin-bottom: 17px;
padding-top: 39px;
padding-left: 20px;
padding-right: 20px;
}

.range-controls .scale {
height: 2px;
background-color: var(--filter-range);
}

.range-controls .bar {
width: 80%;
height: 2px;
background-color: var(--filter-green);
}

.range-controls .toggle {
position: absolute;
top: 28px;
left: 0;
width: 4px;
height: 4px;
padding: 0;
border: 8px solid var(--white);
background-color: var(--filter-grey);
border-radius: 50%;
box-shadow: 0 2px 1px 0 var(--filter-shadow);
cursor: pointer;
}

.range-controls .toggle-min {
left: 18px;
}

.range-controls .toggle-max {
left: 160px;
}

.price-controls {
display: flex;
justify-content: space-between;
}

.price-controls label {
text-transform: uppercase;
font-family: "PT Sans", Arial, sans-serif;
font-size: 16px;
line-height: 18px;
font-style: normal;
font-weight: normal;
color: var(--filter-price);
}

.price-controls input {
text-transform: uppercase;
font-family: "PT Sans", Arial, sans-serif;
font-size: 17px;
line-height: 18px;
font-style: normal;
font-weight: normal;
color: var(--basic-black);
width: 95px;
text-align: center;
border: none;
background-color: var(--basic-beige);
border-radius: 5px;
margin-bottom: 53px;
padding: 0;
}

.catalog-container__filter fieldset {
margin: 0;
padding: 0;
border: none;
}

.manufacturers legend {
margin-bottom: 18px;
}

.nutrition legend {
margin-bottom: 23px;
}

.manufacturers__list,
.nutrition__list {
list-style: none;
margin: 0;
padding: 0;
}

.manufacturers__list {
margin-bottom: 46px;
}

.nutrition__list {
margin-bottom: 37px;
}

.manufacturers__item,
.nutrition__item {
font-family: "PT Sans", Arial, sans-serif;
font-size: 15px;
line-height: 19px;
text-transform: uppercase;
margin-bottom: 20px;
}

.manufacturers__item {
position: relative;
padding-left: 35px;
}

.manufacturers__item svg {
position: absolute;
top: -2px;
left: 0;
}

.manufacturers__item:hover path,
.manufacturers__item:focus path {
fill: var(--special-darkwhite);
}

.manufacturers__item:disabled path {
fill-opacity: 0.3;
}

.nutrition__item {
position: relative;
padding-left: 35px;
margin-bottom: 23px;
}

.nutrition__item svg {
position: absolute;
top: -4px;
left: 0;
width: 25px;
height: 25px;
}

.nutrition__item:hover path,
.nutrition__item:focus path {
fill: var(--special-darkwhite);
}

.nutrition__item:disabled path {
fill-opacity: 0.3;
}

.filter-button {
background-color: var(--white);
border: 1px solid var(--basic-whitegrey);
box-sizing: border-box;
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: center;
color: var(--basic-black);
padding: 9px 79px 9px 78px;
}

.sorting {
display: flex;
margin: 0;
padding: 0;
background-color: var(--basic-beige);
align-items: center;
margin-bottom: 28px;
}

.sorting p {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: var(--basic-black);
text-transform: uppercase;
margin: 0;
padding: 0;
padding-top: 9px;
padding-bottom: 10px;
padding-left: 21px;
}

.sorting__list {
list-style: none;
display: flex;
margin: 0;
padding: 0;
margin-left: 140px;
}

.sorting__item button {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: var(--basic-opacityblack);
background-color: var(--special-whitegrey);
border: none;
text-transform: uppercase;
border-bottom: 1px dotted var(--basic-red);
margin: 0;
padding: 0;
}

.sorting__item:nth-child(1) {
margin-right: 70px;
}

.sorting__item:nth-child(2) {
margin-right: 65px;
}

.sorting__item:nth-child(3) {
margin-right: 47px;
}

.sorting__item:nth-child(4) {
margin-right: 20px;
}

.dir-active path {
fill: var(--basic-red);
}

.dir:hover path,
.dir:focus path {
fill: var(--basic-black);
}

.dir:active path {
fill: var(--basic-red);
}

.sorting__item button:hover,
.sorting__item button:focus {
color: var(--basic-black);
border-bottom: 1px solid var(--basic-red);
}

.sorting__item:active button {
color: var(--basic-red);
border-bottom: none;
}

.sorting__item_active button {
color: var(--basic-red);
border-bottom: none;
}

.catalog-content {
margin-bottom: 24px;
}

.catalog-content__list {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.catalog-pagination {
width: 284px;
}

.catalog-pagination__list {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

.catalog-pagination__link a {
display: inline-block;
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 18px;
font-style: normal;
font-weight: normal;
text-align: center;
color: var(--basic-black);
border: 1px solid var(--basic-whitegrey);
box-sizing: border-box;
border-radius: 2px;
padding:  9px 15px 9px 14px;
margin-right: 10px;
}

.catalog-pagination__link:last-child a {
padding: 9px 30px 9px 32px;
margin-right: 0;
}

.catalog-pagination__link:last-child {
text-transform: uppercase;
}

.catalog-pagination__link a:hover {
border: 1px solid var(--basic-greylight); 
}

.catalog-pagination__link a:active {
border: 1px solid var(--basic-red); 
}

.catalog-pagination__link_current a, 
.catalog-pagination__link_current a:hover,
.catalog-pagination__link_current a:active {
background-color: var(--basic-red);
color: var(--white);
}

.about {
background-color: var(--basic-background);
padding-top: 64px;
padding-bottom: 68px;
}

.about h2 {
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
color: var(--basic-black);
margin: 0;
padding: 0;
margin-bottom: 25px;
}

.about p {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
font-style: normal;
font-weight: normal;
color: var(--basic-black);
margin: 0;
padding: 0;
}

.modal-cart__content {
position: relative;
width: 620px;
height: 282px;
padding: 0;
margin: 0;
padding-top: 66px;
}

.cart-decorate {
position: absolute;
width: 620px;
height: 7px;
background-color: var(--basic-red);
top: 0;
left: 0;
}

.modal-cart__content p {
position: relative;
padding-left: 84px;
font-family: "Cuprum", Arial, sans-serif;
font-weight: bold;
font-style: normal;
font-size: 24px;
line-height: 30px;
text-align: center;
color: var(--basic-black);
padding: 0;
margin-bottom: 67px;
}

.modal-cart__content p::before {
content: "";
position: absolute;
top: -20px;
left: 81px;
width: 66px;
height: 66px;
background-image: url("../img/icon-mark.svg");
background-repeat: no-repeat;
background-position: 0 0;
}

.button-cart__container {
background-color: var(--modal-cart);
padding: 37px 112px 37px 114px;
}

.modal-cart__checkout {
padding: 0;
margin: 0;
padding: 11px 46px 9px 47px;
}

.modal-cart__continue {
font-family: "Cuprum", Arial, sans-serif;
font-size: 14px;
line-height: 18px;
text-align: center;
text-transform: uppercase;
background-color: var(--white);
color: var(--basic-black);
padding: 0;
margin: 0;
padding: 11px 31px 9px 32px;
}

.modal-cart__close {
position: absolute;
top: 18px;
left: 588px;
background-color: transparent;
border: none;
}
